[user]
	email = hioki.daichi@gmail.com
	name = Daichi Hioki
[core]
	excludesfile = ~/.gitignore_global
	whitespace = cr-at-eol
	editor = /usr/local/bin/nvim
[diff]
	tool = vimdiff
[merge]
	tool = fugitive
[mergetool]
	prompt = false
[init]
  templatedir = ~/.git_template
	defaultBranch = main
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
[rebase]
	autosquash = true
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[ghq]
  root = ~/ghq
[pull]
	rebase = false
[log]
	follow = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[push]
	default = current
