set ideajoin
set surround

set incsearch
set nowrapscan

nmap <Tab> %
vmap <Tab> %
vmap m %

inoremap <C-a> <D-Left>
inoremap <C-e> <D-Right>
inoremap <C-b> <C-o>O

vnoremap v $h

nnoremap gh ^
nnoremap gl $

nnoremap <silent> g. :<C-u>source ~/.ideavimrc<CR>
