" Options
set clipboard+=unnamed
set nowrapscan
set hlsearch
set incsearch
set ignorecase
set smartcase
set ideajoin
set surround

"
" Normal-mode mappings
"
nnoremap gb :action Annotate<CR>
nnoremap gc :action CommentByLineComment<CR>
nnoremap gd :action ActivateVersionControlToolWindow<CR>
nnoremap gh ^
nnoremap gi :action ShowIntentionActions<CR>
nnoremap gk :action FindInPath<CR>
nnoremap gl $
nnoremap goa :action GotoAction<CR>
nnoremap goc :action GotoClass<CR>
nnoremap goe :action SearchEverywhere<CR>
nnoremap gof :action GotoFile<CR>
nnoremap gos :action GotoSymbol<CR>
nnoremap gr :action RenameElement<CR>
nnoremap gs :action FileStructurePopup<CR>
nnoremap gt :action Github.Open.In.Browser<CR>
nnoremap gu :action FindUsages<CR>
nnoremap gx :action ToggleLineBreakpoint<CR>
nnoremap g<CR> mzA;<ESC>`z
nnoremap g<Space> :action Run<CR>
nnoremap g, :<C-u>edit ~/.ideavimrc<CR>
nnoremap g. :<C-u>source ~/.ideavimrc<CR>


nnoremap <CR>d :<C-u>close<CR>
nnoremap <CR>v :action SplitVertically<CR>

nnoremap <ESC><ESC> :<C-u>nohlsearch<CR>

nnoremap <C-j> :action SaveAll<CR>
nnoremap <C-l> :action NextSplitter<CR>
nnoremap <C-n> :action GotoNextError<CR>
nnoremap <C-p> :action GotoPreviousError<CR>

"
" Insert-mode mappings
"
inoremap <C-a> <C-o>^
inoremap <C-e> <C-o>A
inoremap <C-b> <C-o>O

"
" Visual-mode mappings
"
vnoremap v $h
vnoremap gc :action CommentByLineComment<CR>

"
" Others
"
" Jump to the corresponding parehthesis
nmap <Tab> %
vmap <Tab> %
vmap m %
