'atom-text-editor:not([mini])[data-grammar^="source elm"]':
  'ctrl-escape': 'elmjutsu:hide-usages-panel'
  'ctrl-]': 'elmjutsu:go-to-definition'
  'ctrl-m': 'elmjutsu:go-to-symbol'
  'ctrl-o': 'elmjutsu:go-back'
  'alt-insert': 'elmjutsu:add-import'
  'alt-shift-l': 'elmjutsu:surround-with-let'
  'alt-l': 'elmjutsu:lift-to-let'
  'alt-t': 'elmjutsu:lift-to-top-level'
  'ctrl-l': 'datatip:toggle'

'atom-workspace':
  'f1': 'elmjutsu:toggle-sidekick'

'body':
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-j': 'core:save'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'g t': 'open-on-github:file'
  'g b': 'open-on-github:blame'
  'g r': 'elmjutsu:rename-symbol'
  'g l': 'vim-mode-plus:move-to-last-character-of-line'
  'g h': 'vim-mode-plus:move-to-first-character-of-line'
  'tab': 'vim-mode-plus:move-to-pair'
  'g u': 'elmjutsu:find-usages'
  'g k': 'project-find:show'
  'g y': 'editor:copy-path'
  'ctrl-down': 'elmjutsu:go-to-next-usage'
  'ctrl-up': 'elmjutsu:go-to-previous-usage'
  'ctrl-escape': 'elmjutsu:hide-usages-panel'
  'enter d': 'core:close'
  'enter v': 'pane:split-left-and-copy-active-item'
  'enter s': 'pane:split-down-and-copy-active-item'

'atom-text-editor.vim-mode-plus.visual-mode':
  'v': 'editor:select-to-end-of-line'
  'm': 'vim-mode-plus:move-to-pair'
